<h2>Add Article</h2>
<p>Create an article below.</p>
<form action="/api/articles" method="post">
  <div class="form-group">
    <label for="exampleInputTitle1">Title</label>
    <input name="title" type="text" class="form-control" id="exampleInputTitle1" placeholder="Article Title">
    <label for="exampleInputBody1">Body</label>
    <input name="body" type="text" class="form-control" id="exampleInputBody1" placeholder="Article Body">
    <label for="exampleInputTitle1">Image</label>
    <input name="image" type="text" class="form-control" id="exampleInputTitle1" placeholder="insert a image">
    <label for="exampleInputTitle1">Username</label>
    <input name="username" type="text" class="form-control" id="exampleInputTitle1" placeholder="Username">
    <label for="exampleInputTitle1">Date</label>
    <input name="date" type="text" class="form-control" id="exampleInputTitle1" placeholder="Date">
  </div>
  <button type="submit" class="btn btn-inverse btn-lg">Add Article</button>
</form>