<h2>Dashboard</h2>
<div id="stuff">
	<h4>Welcome <em>{{ user.name }}</em></h4>

	{{#each stuff}}
	<p>{{ greeting }} {{ subject }}</p>
	{{/each}}

	<hr>

	<a class="btn btn-inverse btn-lg" href="/article/add">Add New Article</a>
</div>

<br>
